src/main/mule/implementation/get_clients_interactions.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
    <flow name="get_clients_interactions" doc:id="586176a2-66a7-4d20-a024-78536ae7cbdf">
        
        <db:select doc:name="Select Customer by URL ID" doc:id="9a67c24d-f1cd-4b0a-996d-9810f2d005f7" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM customer_interactions WHERE CustomerID = :customerId]]></db:sql>
			<db:input-parameters><![CDATA[#[{
                customerId: attributes.uriParams.customerId
            }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b6e4dcfa-721b-4369-87ab-29ecfd26754a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
        
	
</flow>
</mule>