src/main/mule/implementation/get_clients_interactions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get_clients_interactions" doc:id="586176a2-66a7-4d20-a024-78536ae7cbdf" >
		<ee:transform doc:name="Transform Message" doc:id="ec341d1a-f359-4873-ab5e-a6a0db7e7010" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:select doc:name="Select" doc:id="9a67c24d-f1cd-4b0a-996d-9810f2d005f7" config-ref="Database_Config" target="customer_interactions">
			<db:sql ><![CDATA[Select * from customer_interactions Where CustomerID = :CustomerID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{CustomerID:payload.CustomerID as Number}]]]></db:input-parameters>
		</db:select>
	</flow>
</mule>
